<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userServiceBean" class="com.powernode.spring6.service.UserService" autowire="byName"></bean>

    <bean id="userDaoBean" class="com.powernode.spring6.dao.UserDao">
    </bean>
    <bean id="vipDaoBean" class="com.powernode.spring6.dao.VipDao"/>

</beans>