<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDaoBean" class="com.powernode.spring6.dao.UserDao"/>

    <bean id="vipDaoBean" class="com.powernode.spring6.dao.VipDao"/>

    <bean id="userServiceBean" class="com.powernode.spring6.service.UserService">
<!--        set注入-->
<!--        想让spring调用对应的set方法,要用property标签-->
<!--        property 里的 name 属性,是类中的Set方法,去掉set后的首字母小写-->
<!--        ref翻译为引用 是references 的缩写 ,ref后面指的是要注入的bean的id-->
        <property name="userDao" ref="userDaoBean"/>

        <property name="VVVVV" ref="vipDaoBean"/>
    </bean>


</beans>