<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace必须是dao接口的全类名-->
<mapper namespace="com.powernode.bank.dao.AccountDao">
<!--id必须为dao接口里的方法名-->
    <select id="selectByActno" resultType="com.powernode.bank.pojo.Account">
        select * from t_act where actno=#{actno};
    </select>
    <update id="updateByActno">
        update t_act
        set balance=#{balance}
        where actno = #{actno};
    </update>

</mapper>